@import "tailwindcss";

@theme {
  --color-brand-primary: #34254e;
  --color-brand-secondary: #573d82;
  --color-brand-accent: #8c6a9f;
  --color-primary: #34254e;
  --color-secondary: #573d82;
  --color-accent: #8c6a9f;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif);
}

html {
  scroll-behavior: smooth;
}

